{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<section id="nav-bar">
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'home:home_page' %}"><img src="{% static 'images/logo.jpg' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:home_page' %}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">ABOUT US</a>
        </li>
        <!--new-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SEARCH
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'home:searchClass' %}">Class</a>
              <a class="dropdown-item" href="{% url 'home:searchStudent' %}">Student</a>
              <a class="dropdown-item" href="{% url 'home:searchTeacher' %}">Teacher</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home:login' %}">LOGIN</a>
        </li>
      </ul>
    </div>
</nav>
</section>
    <!-------->
<div class="slider">
  <div id="headerSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
      <li data-target="#headerSlider" data-slide-to="1"></li>
      <li data-target="#headerSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="{% static 'images/anhnen2.jpg' %}">
          <div class="carousel-caption">
              <h5></h5>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="{% static 'images/pic2.jfif' %}">
          <div class="carousel-caption">
              <h5></h5>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="{% static 'images/anhnen1.jpg' %}">
            <div class="carousel-caption">
              <h5></h5>
            </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>  
</div>
<!---About us-->
<section id="about">
  <div class="container">
  <div class="about-body">
      <h2>About us</h2>
      <div class="about-content">
          Trung tâm Anh ngữ LL
      </div>
      <button type="button" class="btn btn-primary">Read more >></button>
  </div> 
  </div>
</section>
<!--review-->
<section id="review">
<h2>What Our Student Says</h2>
<div class="review-box-container">
    <!--box1-->
    <div class="review-box">
        <div class="box-top">
            <div class="profile">
              <div class="profile-img">
                <img src="{% static 'images/anhnen1.jpg' %}">
              </div>
              <div class="name">
                <strong>Nguyen Vu Hai Long</strong>
                <span>class A</span>
              </div>
            </div>
            <div class="reviews">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <!--comment-->
        <div class="comments">
            <p>Good</p>
        </div>
    </div>
    <!--box2-->
    <div class="review-box">
      <div class="box-top">
          <div class="profile">
            <div class="profile-img">
              <img src="{% static 'images/anhnen1.jpg' %}">
            </div>
            <div class="name">
              <strong>Lam</strong>
              <span>class B</span>
            </div>
          </div>
          <div class="reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
          </div>
      </div>
      <!--comment-->
      <div class="comments">
          <p>Good teacher</p>
      </div>
  </div>
</div>
</section>
<!--contact-->
<section id="contact">
<div class="container">
<h2>Come to us</h2>
<div class="row">
  <div class="col-md-6">
      <form action="https://formspree.io/f/mwkalkwp" method="POST" id="my-form" class="contact-form">
        {% csrf_token %}
        <div class="form-group">
        <input name="ctName" type="text" class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group">
        <input name="ctPhone" type="number" class="form-control" placeholder="Phone Number">
        </div>
        <div class="form-group">
        <input name="ctEmail" type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
        <input name="ctMess" class="form-control" rows="4" placeholder="Your Message">
        </div>
        <button type="submit" class="btn btn-primary">SEND</button>
      </form>
      <div id="status"></div>
  </div>
  <div class="col-md-6 contact-info">
    <div class="follow"><b>Address:</b><i class="fa fa-map-marker"></i>ABC Road</div>
    <div class="follow"><b>Phone:</b><i class="fa fa-phone"></i>+84 942966568</div>
    <div class="follow"><b>Email:</b><i class="fa fa-envelope-o"></i>abc@gmail.com</div>
    <div class="follow"><label><b>Get Social:</b></label>
        <a href="https://www.facebook.com/HLNV01"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</div>
</div>
</section>
<script>
  var form = document.getElementById("my-form");
  
  async function handleSubmit(event) {
    event.preventDefault();
    var status = document.getElementById("status");
    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
          'Accept': 'application/json'
      }
    }).then(response => {
      status.innerHTML = "Success!";
      form.reset()
    }).catch(error => {
      status.innerHTML = "Oops! There was a problem."
    });
  }
  form.addEventListener("submit", handleSubmit)
</script>
<!--footer-->
<section id="footer">
<div class="container">
<p> Created in 12/2021 by Hai Long and Que Lam</p>
</div>
</section>
</body>
</html>